﻿html, body {
    height: 100%;
    min-height: 300px !important;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: rgba(94, 94, 94, 0.45);
    background-repeat: no-repeat;
    background-position: 50%;
}

#footer {
    background-color: #f6f6f6;
    height: 100%;
    margin: 0px;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    min-width: 500px;
}

#song-controls-buttons {
    padding-top: 25px !important;
    align-items: center;
    box-sizing: border-box;
}

#song-controls-progress {
    padding-top: 5px !important;
    width: calc(100% - 14em) !important;
    display: grid !important;
    grid-template-columns: 50px calc(100% - 100px) 50px;
    grid-template-rows: auto !important;
}

#song-controls-current-time {
    padding-top: 4px;
    margin-right: 1em;
}

#song-controls-total-duration {
    padding-top: 4px;
    margin-left: 1em;
}

.song-controls-button {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#song-progress-bar-background {
    margin-top: 10px !important;
    width: 100%;
    height: 8px;
    background-color: #d1d1d1;
    border-radius: 15px;
}

#song-progress-bar {
    width: 0px;
    height: 8px;
    background-color: black;
    border-radius: 15px;
}

.ui.sidebar {
    padding-top: 4em !important;
}

.subitem {
    padding-right: 0px !important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    margin-bottom: 0.7em !important;
    padding-left: 3em !important;
}

#sidebar-toggle {
    position: fixed;
    left: 1.2em;
    top: 1em;
    z-index: 100;
    cursor: pointer;
}

#main-content {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.ui.table > tbody > tr:hover > td {
    background-color: #efefef;
}

#header {
    background-color: #e8e8e8;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
}

.header-content {
    justify-content: center;
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
}

#browser-search, #playlist-search {
    margin-left: 30%;
    margin-right: 30%;
}

.header-split > .ui.header {
    font-size: 4em;
}

#song-volume-bar-background {
    position: fixed;
    right: 37px;
    bottom: 50px;
    width: 8px;
    height: 80px;
    background-color: #d1d1d1;
    border-radius: 15px;
}

#song-volume-bar {
    position: fixed;
    bottom: 50px;
    width: 8px;
    height: 80px;
    background-color: black;
    border-radius: 15px;
}

#song-volume-icon {
    position: fixed;
    right: 27px;
    bottom: 27px;
}

tr.selected {
    background-color: #ffccd4 !important;
}

.data-table > tbody tr:hover td {
    background-color: #ffe6e9 !important;
}

#visualizer-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Song';
    src: url('resources/fonts/song.otf');
}

@font-face {
    font-family: 'Artist';
    src: url('resources/fonts/artist.ttf');
}