﻿.grid {
    height: 100%;
}

.column {
    max-width: 450px;
}

#logo-img {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.content:before {
    content: "";
    position: fixed;
    z-index: -1;
    display: block;
    background-image: url('images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    transform: scale(1.03);
}

.ui.button {
    background-color: #ff75c1;
    color: #ffffff;
}

.ui.button:hover {
    background-color: #ffb4de;
    color: #ffffff;
}